.page-header {
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
}

.page-header--hide {
  display: none;
}

.page-header__wrapper {
  position: relative;
  box-sizing: border-box;
  width: @mobile-width - 60px;
  margin: 0 auto;
}

.page-header__logo {
  display: block;
  width: 100%;
  padding: 19px 0;
  text-align: center;
}

.page-header__logo-image {
  display: inline-block;

  width: 86px;
  height: 35px;
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle {
  position: absolute;
  top: 30px;
  right: 0px;

  display: block;
  box-sizing: border-box;
  width: 20px;
  height: 14px;

  text-indent: -10000px;

  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("../img/icon-menu-open.svg");
  border: none;

  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__toggle--close {
  top: 29px;

  background-image: url("../img/icon-menu-close.svg");
  width: 21px;
  height: 21px;
}

.page-header__site {
  width: 100%;

  border-top: 1px solid @grey-border;
}

.page-header__user {
  width: 100%;
}

.page-header__profits {
  display: none;
}

.page-header__info {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    margin: 0 auto;
    padding-left: 6.5%;
    padding-right: 6.5%;
  }

  .page-header__wrapper {
    order: 0;
    margin: 0;

    width: 40%;
  }

  .page-header__logo {
    padding: 0;
    padding-top: 22px;
    text-align: left;
  }

  .page-header__logo-image {
    width: 112px;
    height: 46px;
  }

  .page-header__toggle {
    display: none;
  }

  .page-header__site {
    display: flex;
    order: 2;

    box-sizing: border-box;
    width: 384px;
  }

  .page-header__user {
    display: flex;
    order: 1;

    width: 350px;
  }

  .page-header__info {
    display: block;
    order: 3;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    padding-top: 15px;

    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: @grey;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
  }

  .page-header__wrapper {
    order: 1;
    width: 250px;
  }

  .page-header__site {
    order: 0;
    flex-grow: 0;

    width: 450px;
    border-bottom: 1px solid @grey-border;
  }

  .page-header__logo {
    padding: 0;
    padding-top: 10px;
  }

  .page-header__logo-image {
    width: 149px;
    height: 72px;
  }

  .page-header__user {
    order: 2;

    width: 350px;
  }

  .page-header__profits {
    order: 3;
    flex-grow: 1;

    display: block;
  }

  .page-header__info {
    order: 4;
  }
}
